{
  "presets": [
    ["env", {
      "targets": { "node": 7 },
      "useBuiltIns": true
    }],
    "stage-0",
    "react",
    "stage-1",
  ],
  "plugins": ["add-module-exports", "dynamic-import-webpack", "transform-decorators-legacy"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [ "babel-plugin-dev-expression", "transform-decorators-legacy"]
    },
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-es2015-classes",

        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }]
      ]
    }
  }
}
